*{
    margin: 0px;
}

header{
    padding: 4rem;
    background: #dee6e8;
    border-radius: 0px 0px 20px 20px ;

}
.contanier nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 20px; */
}
.container a{
    border-radius: 20px;
    background: red;
}

ul:nth-child(1){
    display: flex;
    list-style: none;
    align-items: center;
    gap: .8rem;
    border-radius: 20px;
    background: forestgreen;
    padding: 2px;
    /* margin-left: 800px; */
}

.right-box {
    display: flex;
    justify-content: flex-end;
    /* padding: 10px; */
}

button{
    border-radius: 100px;
    background: #00FF00;
    color: white;
    padding: 1rem;
    margin-left: 5px;
}

