.box{
    height: 50px;
    width: 50px;
    margin-bottom: 8px;
}
.box1{
    background-color: red;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;

}
.box2{
    background-color: green;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
}
.box3{
    background-color: yellow;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
}